In [7]:
import pandas as pd

### # Прочитайте файл 2017_jun_final.csv за допомогою методу read_csv

In [47]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/2017_jun_final.csv")

### # Прочитайте отриману таблицю, використовуючи метод head

In [48]:
print(df.head())

   N                 Должность Язык.программирования Специализация  \
0  1        Junior QA engineer                   NaN     Manual QA
1  2        Junior QA engineer                   NaN     Manual QA
2  3         Software Engineer               C#/.NET           NaN
3  4         Software Engineer            JavaScript           NaN
4  5  Senior Software Engineer            JavaScript           NaN

  Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0               0.5                          0.5               400
1  меньше 3 месяцев             меньше 3 месяцев               430
2                 4                            1              2500
3                 5                            4              2000
4    10 и более лет                          0.5              4500

   Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  ...  \
0                                 0  Харьков       до 10 человек  ...
1                               130  Харьков  свыше 1000 человек  ...
2                               800     Киев     до 1000 человек  ...
3                               400   Одесса      до 200 человек  ...
4                               500   Другой       до 10 человек  ...

  Еще.студент Уровень.английского                    Предметная.область  \
0        True       ниже среднего                         iOS,eCommerce
1        True       выше среднего                        Веб-разработка
2       False             средний  Веб-разработка,Корпоративные системы
3       False       ниже среднего   Desktop Applications,Веб-разработка
4       False             средний   Desktop Applications,Веб-разработка

       Дата.заполнения                                         User.Agent  \
0  12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1  12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2  12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3  12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4  12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...

    exp current_job_exp salary Валюта  cls
0   0.5             0.5    400    NaN   QA
1   0.0             0.0    430    NaN   QA
2   4.0             1.0   2500    NaN  DEV
3   5.0             4.0   2000    NaN  DEV
4  10.0             0.5   4500    NaN  DEV

[5 rows x 25 columns]

### # Визначте розмір таблиці за допомогою методу shape

In [49]:
print(df.shape)

(8704, 25)

### # Визначте типи всіх стовпців за допомогою dataframe.dtypes

In [50]:
print(df.dtypes)

N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

### # Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)

In [51]:
print(df.isnull().sum() / len(df) * 100)

N                                    0.000000
Должность                            0.000000
Язык.программирования               44.232537
Специализация                       82.938879
Общий.опыт.работы                    0.000000
Опыт.работы.на.текущем.месте         0.000000
Зарплата.в.месяц                     0.000000
Изменение.зарплаты.за.12.месяцев     0.000000
Город                                0.000000
Размер.компании                      0.000000
Тип.компании                         0.000000
Пол                                  0.000000
Возраст                              0.000000
Образование                          0.000000
Университет                          4.113051
Еще.студент                          0.000000
Уровень.английского                  0.000000
Предметная.область                   2.562040
Дата.заполнения                      0.000000
User.Agent                           0.000000
exp                                  0.000000
current_job_exp                      0.000000
salary                               0.000000
Валюта                              99.885110
cls                                 18.083640
dtype: float64

### # Видаліть усі стовпці з пропусками, крім стовпця "Мова програмування"

In [52]:
df_1 = ['Язык.программирования'] + list(df.dropna(axis=1, how='any').columns)
df = df[df_1]
print(df)

     Язык.программирования     N                 Должность Общий.опыт.работы  \
0                      NaN     1        Junior QA engineer               0.5
1                      NaN     2        Junior QA engineer  меньше 3 месяцев
2                  C#/.NET     3         Software Engineer                 4
3               JavaScript     4         Software Engineer                 5
4               JavaScript     5  Senior Software Engineer    10 и более лет
...                    ...   ...                       ...               ...
8699                   NaN  8700               QA engineer                 1
8700                   NaN  8701                 Marketing               0.5
8701            Ruby/Rails  8702  Junior Software Engineer                 1
8702                   NaN  8703                 Team lead                 6
8703                  Java  8704  Senior Software Engineer                 7

     Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0                             0.5               400
1                меньше 3 месяцев               430
2                               1              2500
3                               4              2000
4                             0.5              4500
...                           ...               ...
8699             меньше 3 месяцев               700
8700                          0.5               400
8701                          0.5               800
8702                            4              2600
8703                            2              5000

      Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  \
0                                    0  Харьков       до 10 человек
1                                  130  Харьков  свыше 1000 человек
2                                  800     Киев     до 1000 человек
3                                  400   Одесса      до 200 человек
4                                  500   Другой       до 10 человек
...                                ...      ...                 ...
8699                               700   Одесса       до 50 человек
8700                               120     Киев       до 50 человек
8701                               500    Львов       до 10 человек
8702                                 0    Днепр  свыше 1000 человек
8703                               800   Одесса     до 1000 человек

         Тип.компании      Пол  Возраст           Образование  Еще.студент  \
0      Аутсорсинговая  женский       20  Незаконченное высшее         True
1      Аутсорсинговая  женский       21  Незаконченное высшее         True
2      Аутсорсинговая  мужской       26                Высшее        False
3         Продуктовая  мужской       30               Среднее        False
4         Продуктовая  мужской       30    Техникум / Колледж        False
...               ...      ...      ...                   ...          ...
8699   Аутсорсинговая  мужской       23                Высшее        False
8700      Продуктовая  женский       22                Высшее        False
8701  Аутстаффинговая  мужской       30  Незаконченное высшее        False
8702   Аутсорсинговая  мужской       34                Высшее        False
8703      Продуктовая  мужской       28                Высшее        False

     Уровень.английского      Дата.заполнения  \
0          ниже среднего  12/06/2017 12:38:08
1          выше среднего  12/06/2017 12:42:51
2                средний  12/06/2017 13:02:47
3          ниже среднего  12/06/2017 13:03:01
4                средний  12/06/2017 13:03:47
...                  ...                  ...
8699             средний  12/07/2017 15:45:24
8700       ниже среднего  12/07/2017 17:00:06
8701       выше среднего  12/07/2017 17:32:26
8702         продвинутый  12/07/2017 18:14:59
8703       выше среднего  12/07/2017 21:28:57

                                             User.Agent   exp  \
0     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5
1     Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0
2     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0
3     Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0
4     Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0
...                                                 ...   ...
8699  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   1.0
8700  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5
8701  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
8702  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...   6.0
8703  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0

      current_job_exp  salary
0                 0.5     400
1                 0.0     430
2                 1.0    2500
3                 4.0    2000
4                 0.5    4500
...               ...     ...
8699              0.0     700
8700              0.5     400
8701              0.5     800
8702              4.0    2600
8703              2.0    5000

[8704 rows x 20 columns]

### # Знову порахуйте, яка частка пропусків міститься в кожній колонці і переконайтеся, що залишився тільки стовпець "Мова.програмування"

In [53]:
print(df.isnull().sum() / len(df) * 100)

Язык.программирования               44.232537
N                                    0.000000
Должность                            0.000000
Общий.опыт.работы                    0.000000
Опыт.работы.на.текущем.месте         0.000000
Зарплата.в.месяц                     0.000000
Изменение.зарплаты.за.12.месяцев     0.000000
Город                                0.000000
Размер.компании                      0.000000
Тип.компании                         0.000000
Пол                                  0.000000
Возраст                              0.000000
Образование                          0.000000
Еще.студент                          0.000000
Уровень.английского                  0.000000
Дата.заполнения                      0.000000
User.Agent                           0.000000
exp                                  0.000000
current_job_exp                      0.000000
salary                               0.000000
dtype: float64

### # Видаліть усі рядки у вихідній таблиці за допомогою методу dropna

In [54]:
df = df.dropna()
print(df)

     Язык.программирования     N                 Должность Общий.опыт.работы  \
2                  C#/.NET     3         Software Engineer                 4
3               JavaScript     4         Software Engineer                 5
4               JavaScript     5  Senior Software Engineer    10 и более лет
6                  C#/.NET     7  Junior Software Engineer                 1
7                      C++     8  Senior Software Engineer                 6
...                    ...   ...                       ...               ...
8692                  Java  8693         Software Engineer                 5
8694               C#/.NET  8695  Junior Software Engineer                 1
8695                Python  8696         Software Engineer                 1
8701            Ruby/Rails  8702  Junior Software Engineer                 1
8703                  Java  8704  Senior Software Engineer                 7

     Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
2                               1              2500
3                               4              2000
4                             0.5              4500
6                меньше 3 месяцев               600
7                               1              3300
...                           ...               ...
8692                            1              3500
8694                            1               550
8695                          0.5              1500
8701                          0.5               800
8703                            2              5000

      Изменение.зарплаты.за.12.месяцев        Город  Размер.компании  \
2                                  800         Киев  до 1000 человек
3                                  400       Одесса   до 200 человек
4                                  500       Другой    до 10 человек
6                                  100  Хмельницкий    до 50 человек
7                                  500         Киев    до 10 человек
...                                ...          ...              ...
8692                               650     Удаленно   до 200 человек
8694                               550      Харьков   до 200 человек
8695                              1000         Киев    до 10 человек
8701                               500        Львов    до 10 человек
8703                               800       Одесса  до 1000 человек

         Тип.компании      Пол  Возраст           Образование  Еще.студент  \
2      Аутсорсинговая  мужской       26                Высшее        False
3         Продуктовая  мужской       30               Среднее        False
4         Продуктовая  мужской       30    Техникум / Колледж        False
6      Аутсорсинговая  мужской       23                Высшее        False
7         Продуктовая  мужской       28                Высшее        False
...               ...      ...      ...                   ...          ...
8692   Аутсорсинговая  женский       28                Высшее        False
8694   Аутсорсинговая  мужской       23                Высшее        False
8695          Стартап  мужской       29                Высшее        False
8701  Аутстаффинговая  мужской       30  Незаконченное высшее        False
8703      Продуктовая  мужской       28                Высшее        False

     Уровень.английского      Дата.заполнения  \
2                средний  12/06/2017 13:02:47
3          ниже среднего  12/06/2017 13:03:01
4                средний  12/06/2017 13:03:47
6          ниже среднего  12/06/2017 13:04:26
7          выше среднего  12/06/2017 13:04:27
...                  ...                  ...
8692             средний  12/07/2017 13:26:49
8694       ниже среднего  12/07/2017 14:14:33
8695             средний  12/07/2017 14:39:21
8701       выше среднего  12/07/2017 17:32:26
8703       выше среднего  12/07/2017 21:28:57

                                             User.Agent   exp  \
2     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0
3     Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0
4     Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0
6     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   1.0
7     Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53....   6.0
...                                                 ...   ...
8692  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...   5.0
8694  Mozilla/5.0 (Windows NT 10.0; WOW64; rv:54.0) ...   1.0
8695  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
8701  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
8703  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0

      current_job_exp  salary
2                 1.0    2500
3                 4.0    2000
4                 0.5    4500
6                 0.0     600
7                 1.0    3300
...               ...     ...
8692              1.0    3500
8694              1.0     550
8695              0.5    1500
8701              0.5     800
8703              2.0    5000

[4854 rows x 20 columns]

### # Визначте новий розмір таблиці за допомогою методу shape

In [55]:
print(df.shape)

(4854, 20)

### # Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python

In [56]:
python_data = df[df["Язык.программирования"] == "Python"]
print(python_data)

     Язык.программирования     N                 Должность Общий.опыт.работы  \
12                  Python    13         Software Engineer                 1
68                  Python    69         Software Engineer               1.5
87                  Python    88  Junior Software Engineer               0.5
114                 Python   115  Junior Software Engineer               1.5
143                 Python   144  Junior Software Engineer                 1
...                    ...   ...                       ...               ...
8546                Python  8547         Software Engineer                 5
8625                Python  8626         Software Engineer                 4
8635                Python  8636  Senior Software Engineer    10 и более лет
8673                Python  8674  Junior Software Engineer               0.5
8695                Python  8696         Software Engineer                 1

     Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
12               меньше 3 месяцев               800
68                            0.5               900
87                            0.5               600
114                           0.5               685
143                             1               750
...                           ...               ...
8546                            1              2000
8625                            1              1750
8635             меньше 3 месяцев              4000
8673                          0.5               350
8695                          0.5              1500

      Изменение.зарплаты.за.12.месяцев      Город     Размер.компании  \
12                                 200       Киев       до 50 человек
68                                 900       Киев       до 10 человек
87                                   0       Киев       до 10 человек
114                                250       Киев     до 1000 человек
143                                250       Киев       до 10 человек
...                                ...        ...                 ...
8546                               800  Запорожье       до 50 человек
8625                                 0       Киев  свыше 1000 человек
8635                              1300   Удаленно       до 10 человек
8673                                50       Киев       до 50 человек
8695                              1000       Киев       до 10 человек

        Тип.компании      Пол  Возраст           Образование  Еще.студент  \
12    Аутсорсинговая  мужской       26                Высшее        False
68           Стартап  мужской       21  Незаконченное высшее         True
87    Аутсорсинговая  мужской       19  Незаконченное высшее         True
114   Аутсорсинговая  мужской       21  Незаконченное высшее        False
143   Аутсорсинговая  мужской       21  Незаконченное высшее         True
...              ...      ...      ...                   ...          ...
8546  Аутсорсинговая  мужской       22  Незаконченное высшее        False
8625  Аутсорсинговая  мужской       28               Среднее        False
8635         Стартап  мужской       33                Высшее        False
8673  Аутсорсинговая  мужской       22                Высшее        False
8695         Стартап  мужской       29                Высшее        False

     Уровень.английского      Дата.заполнения  \
12         ниже среднего  12/06/2017 13:05:54
68         выше среднего  12/06/2017 13:11:17
87         выше среднего  12/06/2017 13:12:25
114              средний  12/06/2017 13:14:52
143        выше среднего  12/06/2017 13:19:10
...                  ...                  ...
8546             средний  10/07/2017 14:11:26
8625             средний  11/07/2017 16:15:40
8635       выше среднего  11/07/2017 17:51:36
8673             средний  12/07/2017 09:37:16
8695             средний  12/07/2017 14:39:21

                                             User.Agent   exp  \
12    Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   1.0
68    Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   1.5
87    Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   0.5
114   Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.5
143   Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
...                                                 ...   ...
8546  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...   5.0
8625  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   4.0
8635  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...  10.0
8673  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   0.5
8695  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0

      current_job_exp  salary
12                0.0     800
68                0.5     900
87                0.5     600
114               0.5     685
143               1.0     750
...               ...     ...
8546              1.0    2000
8625              1.0    1750
8635              0.0    4000
8673              0.5     350
8695              0.5    1500

[207 rows x 20 columns]

### # Визначте розмір таблиці python_data за допомогою методу shape

In [57]:
print(python_data.shape)

(207, 20)

### # Використовуючи метод groupby, виконайте групування за стовпчиком "Посада"

In [58]:
df = df.groupby("Должность")
print(df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7d5a4ff4b700>

### # Створіть новий DataFrame, де для згрупованих даних за стовпчиком "Посада", виконайте агрегацію даних за допомогою методу agg і знайдіть мінімальне та максимальне значення у стовпчику "Зарплата.в.місяць"

In [59]:
aggregated = df.agg({"Зарплата.в.месяц": ["min", "max"]})
print(aggregated)

                              Зарплата.в.месяц
                                           min    max
Должность
Data Scientist / Data Analyst             2700   2700
DevOps                                    7000   7000
ERP / CRM                                 2000   2000
HTML coder                                 385    600
Junior Software Engineer                    75   2600
Product Manager                           3000   3000
Senior Software Engineer                   350   9200
Software Engineer                          100   7000
System Architect                           400  10000
Team lead                                 2500   4000
Technical Lead                             500  18000

### # Створіть функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць. Використовуйте її для методу apply та створіть новий стовпчик "avg"

In [69]:
def fill_avg_salary(row):
    return (row["Зарплата.в.месяц"]["min"] + row["Зарплата.в.месяц"]["max"]) / 2

In [71]:
aggregated["avg"] = aggregated.apply(fill_avg_salary, axis=1)
print(aggregated)

                              Зарплата.в.месяц            avg
                                           min    max
Должность
Data Scientist / Data Analyst             2700   2700  2700.0
DevOps                                    7000   7000  7000.0
ERP / CRM                                 2000   2000  2000.0
HTML coder                                 385    600   492.5
Junior Software Engineer                    75   2600  1337.5
Product Manager                           3000   3000  3000.0
Senior Software Engineer                   350   9200  4775.0
Software Engineer                          100   7000  3550.0
System Architect                           400  10000  5200.0
Team lead                                 2500   4000  3250.0
Technical Lead                             500  18000  9250.0

### # Створіть описову статистику за допомогою методу describe для нового стовпчика.

In [73]:
print(aggregated["avg"].describe())

count      11.000000
mean     3868.636364
std      2554.599128
min       492.500000
25%      2350.000000
50%      3250.000000
75%      4987.500000
max      9250.000000
Name: avg, dtype: float64

### # Збережіть отриману таблицю в CSV файл

In [74]:
aggregated.to_csv("aggregated_data.csv", index=False)